* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ffb6c1, #ff69b4, #ff1493);
    background-size: 400% 400%;
    animation: fondo 12s ease infinite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

@keyframes fondo {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.contenedor {
    width: 90%;
    max-width: 850px;
    background: rgba(255, 255, 255, .95);
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .25);
}

h1 {
    color: #d81b60;
    font-size: 45px;
    margin-bottom: 15px;
}

p {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

img {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    transition: .4s;
}

img:hover {
    transform: scale(1.03);
}

video {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}